# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# The following keys below are automatically created and
# added to your environment when you deploy on Vercel

# Instructions to create an AI Gateway API key here: https://vercel.com/ai-gateway 
# API key required for non-Vercel deployments
# For Vercel deployments, OIDC tokens are used automatically
# https://vercel.com/ai-gateway
AI_GATEWAY_API_KEY=****


# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a PostgreSQL database here: https://vercel.com/docs/postgres
POSTGRES_URL=****


# Instructions to create a Redis store here:
# https://vercel.com/docs/redis
REDIS_URL=****

# API Configuration
OPENROUTER_API_KEY=****
OPENROUTER_API_URL=https://openrouter.ai/api/v1/chat/completions
NEXT_PUBLIC_OPENROUTER_MODEL_ID=stepfun/step-3.5-flash:free

TAVILY_API_KEY=****
TAVILY_API_URL=https://api.tavily.com/search
